
#headerContainer {
    background-image: url('https://images.pexels.com/photos/14780214/pexels-photo-14780214.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover; /* or contain, depending on your needs */
    background-position: center;
    height: 400px; /* Adjust as necessary */
}

#headerContainer-career {
    background-image: url('https://media.gettyimages.com/id/1346944001/de/foto/nahaufnahme-von-kollegen-die-ihre-h%C3%A4nde-stapeln.jpg?s=1024x1024&w=gi&k=20&c=XNLKdK-lRPWQfdW7pcQyMZKIs2LHntwBCuvUXyP8QXo=');
    background-size: cover; /* or contain, depending on your needs */
    background-position: center;
    height: 400px; /* Adjust as necessary */
}

#headerContainer-contact {
    background-image: url('https://media.gettyimages.com/id/1339321343/de/foto/europe-night-lights-view-from-space.jpg?s=2048x2048&w=gi&k=20&c=OGB9-_9RiMoSh-37vJbx24hrSVKndF54JJy1lj21K9A=');
    background-size: cover; /* or contain, depending on your needs */
    background-position: center;
    height: 400px; /* Adjust as necessary */
}

#headerContainer-about {
    background-image: url('https://media.gettyimages.com/id/109350512/de/foto/business-people-drinking-coffee-and-looking-out-window-in-conference-room.jpg?s=2048x2048&w=gi&k=20&c=ikhwoQlgJbUW9IMalaMBQP0tSD3xturv1gG6EAXwjUE=');
    background-size: cover; /* or contain, depending on your needs */
    background-position: center;
    height: 400px; /* Adjust as necessary */
}

#headerContainer-services {
    background-image: url('https://media.gettyimages.com/id/1281297414/de/foto/k%C3%BCnstliche-intelligenz-und-kommunikationsnetzwerkkonzept.jpg?s=2048x2048&w=gi&k=20&c=mGD4LGgwHE9rNWM-_UHTmBU2muY5Pwri4PeuV1j0Zdo=');
    background-size: cover; /* or contain, depending on your needs */
    background-position: center;
    height: 400px; /* Adjust as necessary */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: darkgrey;*/
}

/* Wrapper for your content */
.content-wrap {
    min-height: 100%; /* Minimum height of 100% for the content */
    /* Push the footer down with the same amount of its height */
    margin-bottom: -50px; /* Adjust this to match your footer's height */
}

/* Sticky Footer */
#mainFooter {
    background-color: rgba(51, 51, 51, 0.9); /* Same as header for consistency */
    color: white;
    text-align: center;
    padding: 10px 0;
}

#mainFooter ul {
    list-style: none;
    padding: 0;
}

#mainFooter ul li {
    display: inline; /* Inline display for horizontal list */
    margin: 0 10px;
}

#mainFooter ul li a {
    color: white;
    text-decoration: none;
}

#mainFooter ul li a:hover {
    color: #ccc;
}

/* Clearfix for the content-wrap */
.content-wrap:after {
    content: "";
    display: block;
    height: 50px; /* Same as footer's height */
}

#lateShift-left {
    position: relative; /* Needed for absolute positioning of pseudo-element */
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: flex-end; /* Aligns text content to the right */
    min-height: 400px; /* Adjust as needed */
}

#lateShift-left::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%; /* Adjust the width as needed */
    height: 100%;
    background-image: url("https://media.gettyimages.com/id/1081869356/de/foto/%C3%BCbernahme-der-sp%C3%A4tschicht-mit-wahrer-hingabe.jpg?s=612x612&w=gi&k=20&c=JCswDvtnYkWAK67MfW5Ljnxk1HxiL8EJVev9oQdXMzw=");
    background-size: cover;
    background-position: center;
}

#career-left {
    position: relative; /* Needed for absolute positioning of pseudo-element */
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: flex-end; /* Aligns text content to the right */
    min-height: 400px; /* Adjust as needed */
}

#career-left::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%; /* Adjust the width as needed */
    height: 100%;
    background-image: url("https://media.gettyimages.com/id/1387362037/de/foto/high-angle-view-of-male-and-female-programmers-working-on-computers-at-desk-in-office.jpg?s=1024x1024&w=gi&k=20&c=cqqcq212e0xr3P5pttQwixYwN8Ql-HU4vCk9Jju-ei8=");
    background-size: cover;
    background-position: center;
}

#about-left {
    position: relative; /* Needed for absolute positioning of pseudo-element */
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: flex-end; /* Aligns text content to the right */
    min-height: 400px; /* Adjust as needed */
}

#about-left::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%; /* Adjust the width as needed */
    height: 100%;
    background-image: url("https://media.gettyimages.com/id/1181250359/de/foto/gesch%C3%A4ftsleute.jpg?s=1024x1024&w=gi&k=20&c=ZCxpzXwUrjQM8TTPPZ5B47BAKm51vXkALQM0eeXPke0=");
    background-size: cover;
    background-position: center;
}

#contact-left {
    position: relative; /* Needed for absolute positioning of pseudo-element */
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: flex-end; /* Aligns text content to the right */
    min-height: 400px; /* Adjust as needed */
}

#contact-left::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%; /* Adjust the width as needed */
    height: 100%;
    background-image: url("https://media.gettyimages.com/id/143070827/de/foto/gesch%C3%A4ftsmann-sprechen-auf-handy-im-b%C3%BCro.jpg?s=612x612&w=gi&k=20&c=m0OlSWQqblAGb1rC-WUlLIujXpVsaCVTvu5qpOn7Rg8=");
    background-size: cover;
    background-position: center;
}
#services-left {
    position: relative; /* Needed for absolute positioning of pseudo-element */
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: flex-end; /* Aligns text content to the right */
    min-height: 400px; /* Adjust as needed */
}

#services-left::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%; /* Adjust the width as needed */
    height: 100%;
    background-image: url("https://media.gettyimages.com/id/1399018439/de/foto/hands-holding-silver-tray-and-lid.jpg?s=612x612&w=gi&k=20&c=3bBryiJnuB5Vc1o-jmrOV5FZW6lZ3_Jn409otJGk7LQ=");
    background-size: cover;
    background-position: center;
}

#lateShift-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns text content to the left */
    min-height: 400px; /* Adjust as needed */
}

#lateShift-right::before {
    content: '';
    position: absolute;
    right: 0; /* Position the image on the right */
    top: 0;
    width: 50%; /* Adjust the width as needed */
    height: 100%;
    background-image: url('https://media.gettyimages.com/id/808236358/de/foto/feng-shui-compass.jpg?s=2048x2048&w=gi&k=20&c=GAkPg1IuCz4TlBGq9MkTdzcyVOYfAWKykBhnIJketxY=');
    background-size: cover;
    background-position: center;
}

#career-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns text content to the left */
    min-height: 400px; /* Adjust as needed */
}

#career-right::before {
    content: '';
    position: absolute;
    right: 0; /* Position the image on the right */
    top: 0;
    width: 50%; /* Adjust the width as needed */
    height: 100%;
    background-image: url('https://media.gettyimages.com/id/1132119295/de/foto/successful-business-team-taking-selfie.jpg?s=1024x1024&w=gi&k=20&c=3a1eMY-IJn_kCiLHrN4StFRdUl7K5eHFyy8liMOiJ8c=');
    background-size: cover;
    background-position: center;
}

#about-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns text content to the left */
    min-height: 400px; /* Adjust as needed */
}

#about-right::before {
    content: '';
    position: absolute;
    right: 0; /* Position the image on the right */
    top: 0;
    width: 50%; /* Adjust the width as needed */
    height: 100%;
    background-image: url('https://media.gettyimages.com/id/629358800/de/foto/wachstum-durch-b%C3%BCndelung-der-kr%C3%A4fte.jpg?s=1024x1024&w=gi&k=20&c=EDpNnljz-u-AjyNfyWo2hcHkj-GIBE2HvHbTsQ4N96w=');
    background-size: cover;
    background-position: center;
}

#services-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns text content to the left */
    min-height: 400px; /* Adjust as needed */
}

#services-right::before {
    content: '';
    position: absolute;
    right: 0; /* Position the image on the right */
    top: 0;
    width: 50%; /* Adjust the width as needed */
    height: 100%;
    background-image: url('https://media.gettyimages.com/id/1248187106/de/foto/gl%C3%BCcklicher-kunde-und-automechaniker-mit-touchpad-in-einer-werkstatt.jpg?s=612x612&w=gi&k=20&c=enz-NMRauFHp1RNv8cvxveHEkC4Iafckkv9r7zs8yh4=');
    background-size: cover;
    background-position: center;
}


.text-content-left {
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8); /* Optional: for readability */
    width: 50%; /* Adjust as needed */
    z-index: 1; /* Ensures the text content is above the pseudo-element */
}

.text-content-right {
    padding: 20px;
    background-color: rgba(209, 135, 72, 0.8); /* Optional: for readability */
    width: 50%; /* Adjust as needed */
    z-index: 1; /* Ensures the text content is above the pseudo-element */
}

.text-content-career-left {
    padding: 20px;
    background-color: rgba(238, 224, 203, 0.8); /* Optional: for readability */
    width: 50%; /* Adjust as needed */
    z-index: 1; /* Ensures the text content is above the pseudo-element */
}

.text-content-about-left {
    padding: 20px;
    background-color: rgba(106, 153, 78, 0.8); /* Optional: for readability */
    width: 50%; /* Adjust as needed */
    z-index: 1; /* Ensures the text content is above the pseudo-element */
}

.text-content-contact-left {
    padding: 20px;
    background-color: rgba(191, 215, 234, 0.8); /* Optional: for readability */
    width: 50%; /* Adjust as needed */
    z-index: 1; /* Ensures the text content is above the pseudo-element */
}

.text-content-career-right {
    padding: 20px;
    background-color: rgba(186, 168, 152, 0.8); /* Optional: for readability */
    width: 50%; /* Adjust as needed */
    z-index: 1; /* Ensures the text content is above the pseudo-element */
}

.text-content-services-left {
    padding: 20px;
    background-color: rgba(240, 128, 128, 0.8); /* Optional: for readability */
    width: 50%; /* Adjust as needed */
    z-index: 1; /* Ensures the text content is above the pseudo-element */
}

.text-content-services-right {
    padding: 20px;
    background-color: rgba(251, 196, 171, 0.8); /* Optional: for readability */
    width: 50%; /* Adjust as needed */
    z-index: 1; /* Ensures the text content is above the pseudo-element */
}

.text-content-about-right {
    padding: 20px;
    background-color: rgba(167, 201, 87, 0.8); /* Optional: for readability */
    width: 50%; /* Adjust as needed */
    z-index: 1; /* Ensures the text content is above the pseudo-element */
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="file"] {
    margin: 10px 0;
}

.info-container {
    position: relative;
    display: inline-block;
}

.info-icon {
    cursor: pointer;
    margin-left: 5px;
    display: inline-block;
}

.info-icon img {
    width: 1em; /* Setzt die Breite des Icons relativ zur Schriftgröße des umgebenden Textes */
    height: auto; /* Erhält das Seitenverhältnis des Icons */
    margin-left: 5px; /* Optionaler Abstand zum Text */
}

.info-text {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
    padding: 5px;
    z-index: 1;
    right: 0;
    width: 200px; /* Adjust as needed */
}

.info-icon:hover + .info-text {
    display: block;
}


/* Other common styles can go here */


/* Styles for screens larger than 600px */
@media screen and (min-width: 601px) {
    #lateShift-left h2 {
        color: lightgrey;
    }

    #lateShift-left p {
        color: whitesmoke;
    }

    #menuToggle,
    .menu-icon {
        display: none;
    }

    #mainNav {
        background-color: rgba(51, 51, 51, 0.9); /* Or any color that matches your design */
        overflow: hidden;
    }

    #mainNav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center; /* Centers the nav items horizontally */
    }

    #mainNav ul li {
        float: left;
    }

    #mainNav ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    #mainNav ul li a:hover {
        background-color: #ddd;
        color: black;
    }


    h1, h2, p {
        text-align: center; /* Centers the text */
        margin: 20px; /* Adds margin around the elements */
        padding: 15px; /* Adds padding inside the elements */
        border: 2px; /* Adds a border around the elements */
    }

    /* Your other styles for larger screens */
}


/* Styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
    #lateShift-left h2 {
        color: lightgrey;
    }

    #lateShift-left p {
        color: whitesmoke;
    }

    #lateShift-left {
        flex-direction: column; /* Stack the items vertically on smaller screens */
    }

    #lateShift-left img {
        max-width: 100%; /* Allow the image to take full width on smaller screens */
        margin-right: 0; /* Remove the margin-right on smaller screens */
    }

    .text-content-left {
        align-items: flex-start; /* Align text to the start on smaller screens */
    }

    /* Hamburger Menu */
    .hamburger-menu {
        display: block;
    }

    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        display: block;
    }

    #menuToggle {
        display: none;
    }

    #mainNav ul {
        display: none;
        position: absolute;
        background-color: #333;
        width: 100%;
        left: 0;
        top: 30px;
        flex-direction: column;
        align-items: center;
    }

    #menuToggle:checked + .menu-icon + #mainNav ul {
        display: flex;
    }

    /* Styles for nav links */
    #mainNav ul li {
        width: 100%;
        text-align: center;
    }

    #mainNav ul li a {
        display: block;
        color: white;
        padding: 10px;
        text-decoration: none;
    }

    #mainNav ul li a:hover {
        background-color: #ddd;
        color: black;
    }


    h1, h2, p {
        text-align: center; /* Centers the text */
        margin: 10px; /* Adds margin around the elements */
        padding: 5px; /* Adds padding inside the elements */
        border: 2px; /* Adjusts the border */
    }

    /* Your other styles for smaller screens */
}
